<mat-spinner style="margin:0 auto;" *ngIf="!isPromiseDone"></mat-spinner>
<br>
<h1 class="text-center" *ngIf="employee">Editar información de empleado</h1>
<h2 class="text-center" *ngIf="employee" style="color: #555; font-weight: lighter">{{employee.FullName}}</h2>
<div style="max-height: 80vh; overflow-y: auto" class="centeredList" *ngIf="employee">
    <br>
    <form class="example-form">
        <mat-form-field class="example-full-width" [hidden]="!allowEmployeeEdit">
                <input matInput placeholder="Correo Electrónico"
                       value="{{employee.EmailAddress}}" [(ngModel)]="employee.EmailAddress" name=employeeEmailAddress
                       i18n-placeholder="@@EmployeeEmailField" (focusout)="ValidateEmail();">
                <mat-icon matSuffix style="color: red" [hidden]="!emailValid">block</mat-icon>
                <mat-icon matSuffix style="color: green" [hidden]="emailValid">check_circle_outline</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width" [hidden]="allowEmployeeEdit">
                <input matInput placeholder="Correo Electrónico"
                       value="{{employee.EmailAddress}}" [(ngModel)]="employee.EmailAddress" name=employeeEmailAddress
                       i18n-placeholder="@@EmployeeEmailField" readonly>
        </mat-form-field>
        <mat-form-field *ngIf="!allowEmployeeEdit" class="example-full-width">
            <input readonly matInput placeholder="Número Celular" value="{{employee.CellPhoneNumber}}"
                   [(ngModel)]="employee.CellPhoneNumber" name=employeeCellPhoneNumber
                   i18n-placeholder="@@EmployeeCellPhoneNumber">
        </mat-form-field>
        <table *ngIf="allowEmployeeEdit" style="width: 100%">
            <tr>
                <td style="width: 50%">
                    <mat-form-field class="example-full-width">
                        <input [readonly]="!allowEmployeeEdit" matInput placeholder="Número Celular"
                               value="{{employee.CellPhoneNumber}}" [(ngModel)]="employee.CellPhoneNumber"
                               name=employeeCellPhoneNumber
                               i18n-placeholder="@@EmployeeCellPhoneNumber" (focusout)="ValidatePhone();">
                        <mat-icon matSuffix style="color: red" [hidden]="!phoneValid">block</mat-icon>
                        <mat-icon matSuffix style="color: green" [hidden]="phoneValid">check_circle_outline</mat-icon>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-raised-button color="primary" (click)=verifyNewEmployeeCellNumber()
                            i18n="action | button which will update the employee's info when clicked@@UpdateButton">
                        Verificar
                    </button>
                </td>
                <td>
                    <span><strong> {{cellNumberVerificationStatus}} </strong></span>
                </td>
            </tr>
        </table>
        <mat-form-field class="example-full-width">
            <input [readonly]="!allowEmployeeEdit" matInput placeholder="Nombre(s)" value="{{employee.FirstName}}"
                   [(ngModel)]="employee.FirstName" name=employeeFirst
                   i18n-placeholder="@@EmployeeFirstNameField">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input [readonly]="!allowEmployeeEdit" matInput placeholder="Apellido Paterno"
                   value="{{employee.LastName1}}" [(ngModel)]="employee.LastName1" name=employeeLast1
                   i18n-placeholder="@@EmployeeLastNameField">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input [readonly]="!allowEmployeeEdit" matInput placeholder="Apellido Materno"
                   value="{{employee.LastName2}}" [(ngModel)]="employee.LastName2" name=employeeLast2
                   i18n-placeholder="@@EmployeeLastNameField">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input readonly matInput placeholder="CURP" value="{{employee.CURP}}"
                   [(ngModel)]="employee.CURP" name=employeeCURP i18n-placeholder="@@EmployeeCURPField">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input readonly matInput placeholder="RFC" value="{{employee.RFC}}"
                   [(ngModel)]="employee.RFC" name=employeeRFC i18n-placeholder="@@EmployeeRFCField">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" style="width: 300px;" (click)="moveToNotLongerEmployeed()"
            [disabled]="!isPromiseDone"> Dar de Baja </button>
        <br>
        <br>
        <br>
        <div class="text-center">
        <button mat-raised-button color="primary" style="float: left;" (click)="backLocation()" i18n="@@BackButton">Regresar</button>
        <button mat-raised-button color="primary" i18n="@@BackButton" (click)="ResetAccount()"
                [disabled]="employee.EmailAddress == null || employee.EmailAddress == '' || !isPromiseDone">Reiniciar Cuenta</button>
        <button *ngIf="allowEmployeeEdit" style="float: right;" mat-raised-button color="primary"
                (click)=updateEmployee() i18n="@@UpdateButton" [disabled]="emailValid || !isPromiseDone">Actualizar Información
        </button>
        </div>
    </form>
    <br> <br> <br>
    <br> <br> <br>
    <br> <br> <br>
</div>