<div class="main-viewer" *ngIf="isPromiseDone && isAvailable">
    <form>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img style="max-height:70px; width: auto; padding: 8px;"
                         src="../assets/images/Nomi_Sign-12-1-1.png"/>
                </div>
                <div class="col-8 text-center aling-middle">
                    <h1 class="text-center aling-middle">Activar cuenta</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input type="text" required matInput placeholder="Código de Seguridad"
                               [formControl]="form.controls['code']" name=code minlength="3"
                               [(ngModel)]="acc.Code"/>
                        <mat-icon matSuffix>confirmation_number</mat-icon>
                        <mat-error *ngIf="form.controls['code'].hasError('required')">
                            El código de seguridad es <strong>Requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="form.controls['code'].hasError('minlength')">
                            El código de seguridad debe de ser de al menos <strong>3 dígitos</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input type="email" required matInput placeholder="Email"
                               [formControl]="form.controls['email']" name=email
                               [(ngModel)]="acc.Email" />
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="form.controls['email'].hasError('required')">
                            El email es <strong>Requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="form.controls['email'].hasError('email') &&
                                !form.controls['email'].hasError('required')">
                            El email debe ser <strong>Válido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <small style="color: gray">La contraseña debe tener al menos 6 carácteres, una letra mayúscula, una
                        minúscula y un número.
                    </small>
                    <mat-form-field class="example-full-width">
                        <input [type]="hide ? 'password' : 'text'" required matInput placeholder="Contraseña"
                               [formControl]="form.controls['password']" name=password [(ngModel)]="acc.Password"
                               pattern="^(?!(.{0,5}|[^0-9]*|[^A-Z]*|[^a-z]*)$).*$"/>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="form.controls['password'].hasError('required')">
                            Contraseña es <strong>Requerida</strong>
                        </mat-error>
                        <mat-error *ngIf="form.controls['password'].hasError('pattern')">
                            La contraseña debe tener al menos 6 carácteres, una letra mayúscula, una minúscula y un
                            número.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input [type]="hideV ? 'password' : 'text'" required matInput
                               [formControl]="form.controls['verifyPassword']"
                               placeholder="Confirmar de Contraseña" name=verifyPassword />
                        <mat-icon matSuffix
                                  (click)="hideV = !hideV">{{hideV ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="form.controls['verifyPassword'].hasError('required')">
                            Contraseña es <strong>Requerida</strong>
                        </mat-error>
                        <mat-error *ngIf="form.controls['verifyPassword'].errors?.MatchPassword">
                            Las contraseñas deben ser <strong>Iguales</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-4 ">
                    <button mat-raised-button color="primary" style="width:100%" [disabled]="form.invalid || !isPromiseDone"
                            (click)="activateAccount()">
                        Activar Cuenta
                    </button>
                </div>
            </div>
            <div class="row justify-content-md-center" *ngIf="!isPromiseDone">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </form>
    <br><br><br>
</div>
<div class="row justify-content-md-center" *ngIf="!isPromiseDone">
    <mat-spinner></mat-spinner>
</div>