<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: small">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 12%; margin-right: 12%;">
    <form class="form-inline">
      <button class="btn btn-sm btn-outline-secondary" [ngClass]="{'active': newF}" type="button"
              [routerLink]="['/employees', companyId , 'new']">Nuevos
      </button>&nbsp;
      <button class="btn btn-sm btn-outline-secondary" [ngClass]="{'active': unregisteredF}" type="button"
              [routerLink]="['/employees', companyId , 'unregistered']">No Registrados
      </button>&nbsp;
      <button class="btn btn-sm btn-outline-secondary" [ngClass]="{'active': registeredF}" type="button"
              [routerLink]="['/employees', companyId , 'registered']">Registrados
      </button>&nbsp;
      <button class="btn btn-sm btn-outline-secondary" [ngClass]="{'active': inactiveF}" type="button"
              [routerLink]="['/employees', companyId , 'inactive']">Inactivos
      </button>&nbsp;
      <button class="btn btn-sm btn-outline-secondary" [ngClass]="{'active': searchF}" type="button"
              [routerLink]="['/employees', companyId , 'search']">Buscar
      </button>
    </form>
  </div>
</nav>