<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: small">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 12%; margin-right: 12%;">
    <form class="form-inline">
      <button class="btn btn-sm btn-outline-secondary active" type="button"
              [routerLink]="['/employeesList', companyId , 'newemployees']">Nuevos
      </button>&nbsp;
      <button class="btn btn-sm btn-outline-secondary" type="button"
              [routerLink]="['/employeesList', companyId , 'searchemployees']">No Registrados
      </button>&nbsp;
      <button class="btn btn-sm btn-outline-secondary" type="button"
              [routerLink]="['/employeesList', companyId , 'inactiveemployees']">Registrados
      </button>
      <button class="btn btn-sm btn-outline-secondary" type="button"
              [routerLink]="['/employeesList', companyId , 'inactiveemployees']">Inactivos
      </button>
      <button class="btn btn-sm btn-outline-secondary" type="button"
              [routerLink]="['/employeesList', companyId , 'inactiveemployees']">Buscar
      </button>
    </form>
    <form class="form-inline ml-auto">
      <button class="btn btn-sm btn-outline-secondary" type="button"
              [routerLink]="['/employeesList', companyId , 'unsignedreceipts']">Recibos sin firmar
      </button>&nbsp;
      <button class="btn btn-sm btn-outline-secondary" type="button"
              [routerLink]="['/employeesList', companyId , 'deniedreceipts']">Recibos rechazados
      </button>&nbsp;
      <button class="btn btn-sm btn-outline-secondary" type="button"
              [routerLink]="['/employeesList', companyId , 'searchreceipts']">Recibos
      </button>
    </form>
  </div>
</nav>