<app-employee-bar [companyId]="companyId"></app-employee-bar>
<br>
<div class="container" style="max-height: 100vh;" *ngIf="company">
    <div [hidden]="this.userService.getUser().UserType !== 3">
        <h2 class="text-center">Nuevos Empleados de {{company.CompanyName}}</h2>
        <br>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <mat-form-field style="width: 100%;" [hidden]="employees.length < 1">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput #search placeholder="Buscar Empleado" (keyup)="0"/>
                </mat-form-field>
                <br>
            </div>
            <div class="col-md-3 text-center">
                <input-file #inputcsv class="ng-hide" type="file"
                            (onFileSelect)="onFileSelect($event)" accept=".csv">
                    <span class="nofiles"> Empleados CSV </span>
                    <span class="selected">Archivos</span>
                </input-file>
                <mat-spinner [diameter]="35" [strokeWidth]="4" style="margin:0 auto;"
                             *ngIf="!isPromiseDone"></mat-spinner>
            </div>
            <div class="col-md-2 text-center">
                <download-report [letter]="selectedLetter" [companyId]="companyId" [status]="'Nuevos'"
                                 [disable]="!isPromiseDone || selectedLetter.value == '' || employees.length < 1">
                </download-report>
            </div>
        </div>
    </div>
    <div class="pagination-bar text-justify text-center">
        <small (click)="onClickSmallTags(l)" class="button-letter" [ngStyle]="{'color': l.color}"
               *ngFor="let l of letters">{{l.value}}</small>
        <small class="font-light text-right" style="color: #2cbbc3; float: right;">Resultados: {{employees ? (employees | listfilter: search.value)?.length : '0'}}</small>
    </div>
    <div class="table-responsive vertical-scroll-temp" *ngIf="selectedLetter.value != '' && isPromiseDone">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" class="pointer" (click)="sortedBy('EmployeeId')">
                    <div style="white-space: nowrap">
                        ID
                        <i class="material-icons" *ngIf="sortKey === 'EmployeeId' && !sortAsc">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="sortKey === 'EmployeeId' && sortAsc">arrow_drop_up</i>
                    </div>
                </th>
                <th scope="col" class="pointer" (click)="sortedBy('FirstName')">
                    <div style="white-space: nowrap">
                        Nombre(s)
                        <i class="material-icons" *ngIf="sortKey === 'FirstName' && !sortAsc">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="sortKey === 'FirstName' && sortAsc">arrow_drop_up</i>
                    </div>
                </th>
                <th scope="col" class="pointer" (click)="sortedBy('LastName1')">
                    <div style="white-space: nowrap">
                        Apellido Paterno
                        <i class="material-icons" *ngIf="sortKey === 'LastName1' && !sortAsc">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="sortKey === 'LastName1' && sortAsc">arrow_drop_up</i>
                    </div>
                </th>
                <th scope="col" class="pointer" (click)="sortedBy('LastName2')">
                    <div style="white-space: nowrap">
                        Apellido Materno
                        <i class="material-icons" *ngIf="sortKey === 'LastName2' && !sortAsc">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="sortKey === 'LastName2' && sortAsc">arrow_drop_up</i>
                    </div>
                </th>
                <th scope="col" class="pointer" (click)="sortedBy('EmailAddress')">
                    <div style="white-space: nowrap">
                        Email
                        <i class="material-icons" *ngIf="sortKey === 'EmailAddress' && !sortAsc">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="sortKey === 'EmailAddress' && sortAsc">arrow_drop_up</i>
                    </div>
                </th>
                <th scope="col" class="pointer" (click)="sortedBy('CellPhoneNumber')">
                    <div style="white-space: nowrap">
                        Número Celular
                        <i class="material-icons" *ngIf="sortKey === 'CellPhoneNumber' && !sortAsc">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="sortKey === 'CellPhoneNumber' && sortAsc">arrow_drop_up</i>
                    </div>
                </th>
                <th scope="col" class="pointer" (click)="sortedBy('RFC')">
                    <div style="white-space: nowrap">
                        RFC
                        <i class="material-icons" *ngIf="sortKey === 'RFC' && !sortAsc">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="sortKey === 'RFC' && sortAsc">arrow_drop_up</i>
                    </div>
                </th>
                <th scope="col" class="pointer" (click)="sortedBy('CURP')">
                    <div style="white-space: nowrap">
                        CURP
                        <i class="material-icons" *ngIf="sortKey === 'CURP' && !sortAsc">arrow_drop_down</i>
                        <i class="material-icons" *ngIf="sortKey === 'CURP' && sortAsc">arrow_drop_up</i>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let e of employees | listfilter: search.value | sortBy:sortKey:sortAsc"
                [routerLink]="['/employeeEdit', companyId , e.EmployeeId]" routerLinkActive="active"
                class="pointer">
                <th scope="row">{{e.EmployeeId}}</th>
                <td>{{e.FirstName}}</td>
                <td>{{e.LastName1}}</td>
                <td>{{e.LastName2}}</td>
                <td>{{e.EmailAddress}}</td>
                <td>{{e.CellPhoneNumber}}</td>
                <td>{{e.RFC}}</td>
                <td>{{e.CURP}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-md-center" *ngIf="!isPromiseDone">
        <mat-spinner></mat-spinner>
    </div>
    <div class="text-center" *ngIf="(employees?.length <= 0 && selectedLetter.value != '') && isPromiseDone">
        <h1 class="text-center">No se encontraron empleados con apellido {{selectedLetter.value}}.</h1>
        <br>
    </div>
    <div class="text-center" *ngIf="selectedLetter.value == '' && isPromiseDone">
        <h1 class="text-center">Da clic en la letra o todos para ver los resultados.</h1>
        <br>
    </div>
</div>
<br><br><br><br>