<div class="toolbar">
    <!--mobile menu -->
<span [ngClass]="smallScreen ? 'displayContentMobile' : 'hideContentMobile' ">
    <button mat-button [matMenuTriggerFor]="employeeMenu">
        <mat-icon>menu</mat-icon>
    </button>

    <span style="float:right" *ngIf="user">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>{{user.EmailAddress}}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span i18n="action | user will click this to log out of the website@@LogoutAction">Logout</span>
            </button>
        </mat-menu>
    </span>
</span>

<!--desktop menu -->
    <div style="margin-left:12%">
        <span [ngClass]="!smallScreen ? 'displayContentMobile' : 'hideContentMobile' ">

            <button mat-button [matMenuTriggerFor]="employeeMenu">
                <span i18n="menu header | User will click this to go to the employees page@@GoEmployeesPageMenuHeader">
                    Employees
                </span>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #employeeMenu="matMenu">
                <button mat-menu-item [routerLink]="['/employeesList', user.CompanyId]" routerLinkActive="active">
                    <span i18n="@@GoEmployeesPageMenuHeader">
                        Employees
                    </span>
                </button>
                <button mat-menu-item [routerLink]="['/employeeNew', user.CompanyId]" routerLinkActive="active">
                    <span i18n="menu header | User will click this to create a new employee@@NewEmployeesPageMenuHeader">
                        New Employee
                    </span>
                </button>
            </mat-menu>
            <mat-menu #companyDocumentMenu="matMenu">
                <button mat-menu-item [routerLink]="['/companyusers', user.CompanyId]" routerLinkActive="active">
                    <span i18n="@@GoCompanyUsersPageMenuHeader">
                        Documents
                    </span>
                </button>
            </mat-menu>

            <span style="float:right" *ngIf="user">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person</mat-icon>{{user.EmailAddress}}
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span i18n="action | user will click this to log out of the website@@LogoutAction">Logout</span>
                    </button>
                </mat-menu>
            </span>
        </span>
    </div>
</div>