<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: small">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 12%; margin-right: 12%;">
        <form class="form-inline">
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'newemployees']">Nuevos Empleados
            </button>&nbsp;
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'searchemployees']">Empleados
            </button>&nbsp;
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'inactiveemployees']">Empleados Inactivos
            </button>
        </form>
        <form class="form-inline ml-auto">
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'unsignedreceipts']">Recibos sin firmar
            </button>&nbsp;
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'deniedreceipts']">Recibos rechazados
            </button>&nbsp;
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'searchreceipts']">Recibos
            </button>
        </form>
    </div>
</nav>
<br>
<div *ngIf="documents?.length <= 0">
    <h1 class="text-center">No se encontraron recibos de nómina.</h1>
</div>
<div class="container" *ngIf="documents?.length > 0">
    <h1 class="text-center">Recibos de nómina rechazados de {{documents[0].CompanyName}}</h1>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <mat-form-field style="width: 100%;">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput #search placeholder="Buscar Factura" (keyup)="0" />
                </mat-form-field>
                <br>
            </div>
            <div class="col-md-3 text-center">
                <button mat-raised-button color="primary" *ngIf="updateBtn" (click)="updateStatus();"
                        style="margin: 5px;"
                        i18n="action | button which will send a notification to the employees to sign the selected receipt.">
                    Actualizar Status
                </button>
            </div>
        </div>
    </div>
    <br><br>
    <div class="table-responsive vertical-scroll-temp">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" (click)="sortedBy('DocumentId')">ID</th>
                <th scope="col" (click)="sortedBy('PayperiodDate')">Periodo de Pago</th>
                <th scope="col" (click)="sortedBy('EmployeeName')">Nombre de Empleado</th>
                <th scope="col" (click)="sortedBy('AlwaysShow')">Tipo</th>
                <th scope="col" (click)="sortedBy('UploadTime')">Fecha de Carga</th>
                <th scope="col" (click)="sortedBy('SignStatus')">Status</th>
                <th scope="col" (click)="sortedBy('EmployeeConcern')">Comentarios</th>
                <th scope="col">Seleccionar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let e of documents | listfilter: search.value | sortBy:sortKey:sortAsc; let i = index;">
                <th scope="row">{{e.DocumentId}}</th>
                <td>{{e.PayperiodDate}}</td>
                <td>{{e.EmployeeName}}</td>
                <!--<td>{{e.PayAmount}}</td>-->
                <td>{{e.AlwaysShow == 0 ? 'Recibo' : 'Documento'}}</td>
                <td>{{e.UploadTime}}</td>
                <td>{{e.SignStatus}}</td>
                <td>{{e.EmployeeConcern}}</td>
                <td class="centerText">
                    <mat-checkbox class="example-margin" [(ngModel)]="e.CheckedBox" color="primary"
                                  (change)="selectedCheckBox();"></mat-checkbox>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br><br><br><br>
</div>
