<app-employee-bar [companyId]="companyId"></app-employee-bar>
<br>
<div class="fixed-height">
    <div class="container" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div class="col-md-3 text-center">
                <div class="field-panel">
                    <div class="field-panel-hf">
                        <div>
                            <h3>Filtrar Por:</h3>
                        </div>
                    </div>
                    <div class="field-panel-content">
                        <br>
                        <mat-form-field>
                            <mat-icon matSuffix>picture_in_picture</mat-icon>
                            <input matInput placeholder="RFC" [(ngModel)]="search.RFC"/>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-icon matSuffix>picture_in_picture</mat-icon>
                            <input matInput placeholder="CURP" [(ngModel)]="search.CURP"/>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-icon matSuffix>contact_mail</mat-icon>
                            <input matInput placeholder="Correo" [(ngModel)]="search.Email" type="email"/>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-icon matSuffix>contact_phone</mat-icon>
                            <input matInput placeholder="Teléfono" [(ngModel)]="search.Phone" type="tel"/>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-select placeholder="Status" [(value)]="search.Status">
                                <mat-option value=""> </mat-option>
                                <mat-option value="Nuevos">Nuevo</mat-option>
                                <mat-option value="No Registrados">No Registrados</mat-option>
                                <mat-option value="Registrados">Registrados</mat-option>
                                <mat-option value="Inactivos">Inactivos</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br *ngIf="company?.IsValue1">
                        <mat-form-field *ngIf="company?.IsValue1">
                            <mat-icon matSuffix>text_fields</mat-icon>
                            <input matInput placeholder="{{company.ValueName1}}"
                                   type="text" [(ngModel)]="search.Value1" id="Value1"/>
                        </mat-form-field>
                        <br *ngIf="company?.IsValue2">
                        <mat-form-field *ngIf="company?.IsValue2">
                            <mat-icon matSuffix>text_fields</mat-icon>
                            <input matInput placeholder="{{company.ValueName2}}"
                                   type="text" [(ngModel)]="search.Value2" id="Value2"/>
                        </mat-form-field>
                        <br *ngIf="company?.IsValue3">
                        <mat-form-field *ngIf="company?.IsValue3">
                            <mat-icon matSuffix>text_fields</mat-icon>
                            <input matInput placeholder="{{company.ValueName3}}"
                                   type="text" [(ngModel)]="search.Value3" id="Value3"/>
                        </mat-form-field>
                        <br *ngIf="company?.IsValue4">
                        <mat-form-field *ngIf="company?.IsValue4">
                            <mat-icon matSuffix>text_fields</mat-icon>
                            <input matInput placeholder="{{company.ValueName4}}"
                                   type="text" [(ngModel)]="search.Value4" id="Value4"/>
                        </mat-form-field>
                        <br *ngIf="company?.IsValue5">
                        <mat-form-field *ngIf="company?.IsValue5">
                            <mat-icon matSuffix>text_fields</mat-icon>
                            <input matInput placeholder="{{company.ValueName5}}"
                                   type="text" [(ngModel)]="search.Value5" id="Value5"/>
                        </mat-form-field>
                        <br *ngIf="company?.IsValue6">
                        <mat-form-field *ngIf="company?.IsValue6">
                            <mat-icon matSuffix>text_fields</mat-icon>
                            <input matInput placeholder="{{company.ValueName6}}"
                                   type="text" [(ngModel)]="search.Value6" id="Value6"/>
                        </mat-form-field>
                        <br>
                        <br>
                    </div>
                    <div class="field-panel-hf">
                        <button mat-raised-button color="primary" (click)="loadTable()" [disabled]="!isPromiseDone">
                            <mat-icon>youtube_searched_for</mat-icon>
                            Aplicar Filtros
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 text-center">
                <div class="advance-tool">
                    <div class="advance-tool-menu">
                        <div>
                            <div>
                                <div class="advance-tool-menu-search-bar">
                                    <mat-form-field>
                                        <mat-icon matSuffix>search</mat-icon>
                                        <input matInput #searchView placeholder="Buscar"/>
                                    </mat-form-field>
                                </div>
                                <div class="advance-tool-menu-actions">
                                    <button mat-raised-button color="primary"
                                            [disabled]="!isPromiseDone || !updateBtn" (click)="resetSelectedAccounts()">
                                        Reiniciar Cuentas
                                    </button>
                                </div>
                                <div class="advance-tool-menu-actions">
                                    <download-report [companyId]="companyId" [status]="'Advance'"
                                                     [advanceSearch]="search"
                                                     [disable]="!isPromiseDone || employees.length < 1">
                                    </download-report>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="advance-tool-viewer">
                        <div class="pagination-bar text-justify text-center">
                            <small class="font-light text-right" style="color: #2cbbc3; float: right;">
                                Resultados: {{employees ? (employees | listfilter: searchView.value)?.length : '0'}}
                            </small>
                        </div>
                        <div class="row justify-content-md-center" *ngIf="!isPromiseDone">
                            <mat-spinner></mat-spinner>
                        </div>
                        <table class="table table-striped" *ngIf="isPromiseDone">
                            <thead>
                            <tr>
                                <th scope="col" class="pointer" (click)="sortedBy('EmployeeId')">
                                    <div style="white-space: nowrap">
                                        ID
                                        <i class="material-icons" *ngIf="sortKey === 'EmployeeId' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'EmployeeId' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('FirstName')">
                                    <div style="white-space: nowrap">
                                        Nombre(s)
                                        <i class="material-icons" *ngIf="sortKey === 'FirstName' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'FirstName' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('LastName1')">
                                    <div style="white-space: nowrap">
                                        Apellido Paterno
                                        <i class="material-icons" *ngIf="sortKey === 'LastName1' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'LastName1' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('LastName2')">
                                    <div style="white-space: nowrap">
                                        Apellido Materno
                                        <i class="material-icons" *ngIf="sortKey === 'LastName2' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'LastName2' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('EmailAddress')">
                                    <div style="white-space: nowrap">
                                        Email
                                        <i class="material-icons" *ngIf="sortKey === 'EmailAddress' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'EmailAddress' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('CellPhoneNumber')">
                                    <div style="white-space: nowrap">
                                        Número Celular
                                        <i class="material-icons" *ngIf="sortKey === 'CellPhoneNumber' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'CellPhoneNumber' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('RFC')">
                                    <div style="white-space: nowrap">
                                        RFC
                                        <i class="material-icons" *ngIf="sortKey === 'RFC' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'RFC' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('CURP')">
                                    <div style="white-space: nowrap">
                                        CURP
                                        <i class="material-icons" *ngIf="sortKey === 'CURP' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'CURP' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('StatusName')">
                                    <div style="white-space: nowrap">
                                        Status
                                        <i class="material-icons" *ngIf="sortKey === 'StatusName' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'StatusName' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('Value1')" *ngIf="CompanyInfo?.IsValue1">
                                    <div style="white-space: nowrap">
                                        {{CompanyInfo.ValueName1}}
                                        <i class="material-icons" *ngIf="sortKey === 'Value1' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'Value1' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('Value2')" *ngIf="CompanyInfo?.IsValue2">
                                    <div style="white-space: nowrap">
                                        {{CompanyInfo.ValueName2}}
                                        <i class="material-icons" *ngIf="sortKey === 'Value2' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'Value2' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('Value3')" *ngIf="CompanyInfo?.IsValue3">
                                    <div style="white-space: nowrap">
                                        {{CompanyInfo.ValueName3}}
                                        <i class="material-icons" *ngIf="sortKey === 'Value3' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'Value3' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('Value4')" *ngIf="CompanyInfo?.IsValue4">
                                    <div style="white-space: nowrap">
                                        {{CompanyInfo.ValueName4}}
                                        <i class="material-icons" *ngIf="sortKey === 'Value4' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'Value4' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('Value5')" *ngIf="CompanyInfo?.IsValue5">
                                    <div style="white-space: nowrap">
                                        {{CompanyInfo.ValueName5}}
                                        <i class="material-icons" *ngIf="sortKey === 'Value5' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'Value5' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                                <th scope="col" class="pointer" (click)="sortedBy('Value6')" *ngIf="CompanyInfo?.IsValue6">
                                    <div style="white-space: nowrap">
                                        {{CompanyInfo.ValueName6}}
                                        <i class="material-icons" *ngIf="sortKey === 'Value6' && !sortAsc">arrow_drop_down</i>
                                        <i class="material-icons" *ngIf="sortKey === 'Value6' && sortAsc">arrow_drop_up</i>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let e of employees | listfilter: searchView.value | sortBy:sortKey:sortAsc"
                                [routerLink]="['/employeeEdit', companyId , e.EmployeeId]" routerLinkActive="active"
                                class="pointer">
                                <th scope="row">{{e.EmployeeId}}</th>
                                <td>{{e.FirstName}}</td>
                                <td>{{e.LastName1}}</td>
                                <td>{{e.LastName2}}</td>
                                <td>{{e.EmailAddress}}</td>
                                <td>{{e.CellPhoneNumber}}</td>
                                <td>{{e.RFC}}</td>
                                <td>{{e.CURP}}</td>
                                <td>{{e.StatusName}}</td>
                                <td *ngIf="CompanyInfo?.IsValue1">{{e.Value1}}</td>
                                <td *ngIf="CompanyInfo?.IsValue2">{{e.Value2}}</td>
                                <td *ngIf="CompanyInfo?.IsValue3">{{e.Value3}}</td>
                                <td *ngIf="CompanyInfo?.IsValue4">{{e.Value4}}</td>
                                <td *ngIf="CompanyInfo?.IsValue5">{{e.Value5}}</td>
                                <td *ngIf="CompanyInfo?.IsValue6">{{e.Value6}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
