<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: small">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 12%; margin-right: 12%;">
        <form class="form-inline">
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'newemployees']">Nuevos Empleados
            </button>&nbsp;
            <button class="btn btn-sm btn-outline-secondary active" type="button"
                    [routerLink]="['/employeesList', companyId , 'searchemployees']">Empleados
            </button>&nbsp;
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'inactiveemployees']">Empleados Inactivos
            </button>
        </form>
        <form class="form-inline ml-auto">
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'unsignedreceipts']">Recibos sin firmar
            </button>&nbsp;
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'deniedreceipts']">Recibos rechazados
            </button>&nbsp;
            <button class="btn btn-sm btn-outline-secondary" type="button"
                    [routerLink]="['/employeesList', companyId , 'searchreceipts']">Recibos
            </button>
        </form>
        <!--<ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/employeesList', companyId , 'newemployees']"
                   routerLinkActive="active"> Nuevos Empleados <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/employeesList', companyId , 'searchemployees']"
                   routerLinkActive="active"> Empleados </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/employeesList', companyId , 'inactiveemployees']"
                   routerLinkActive="active"> Empleados Inactivo </a>
            </li>
        </ul>-->
        <!--<ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/employeesList', companyId , 'unsignedreceipts']"
                   routerLinkActive="active"> Recibos sin firmar </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/employeesList', companyId , 'deniedreceipts']"
                   routerLinkActive="active"> Recibos rechazados </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/employeesList', companyId , 'searchreceipts']"
                   routerLinkActive="active"> Recibos </a>
            </li>
        </ul>-->
    </div>
</nav>
<br>
<div class="container" style="max-height: 100vh;" *ngIf="company">
    <div [hidden]="this.userService.getUser().UserType !== 3">
        <h1 class="text-center"> Empleados de {{company.CompanyName}} </h1>
        <br>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <mat-form-field style="width: 100%;">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput #search placeholder="Buscar Empleado" (keyup)="0"/>
                </mat-form-field>
                <br>
            </div>
            <div class="col-md-3 text-center">
                <download-report [letter]="selectedLetter" [companyId]="companyId"
                                 [disable]="selectedLetter.value == ''"> </download-report>
            </div>
        </div>
    </div>
    <div class="pagination-bar text-justify text-center">
        <small (click)="onClickSmallTags(l)" class="button-letter" [ngStyle]="{'color': l.color}"
               *ngFor="let l of letters">{{l.value}}</small>
        <small class="font-light text-right" style="color: #2cbbc3; float: right;">Resultados: {{employees ? (employees | listfilter: search.value)?.length : '0'}}</small>
    </div>
    <div class="table-responsive vertical-scroll-temp">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" (click)="sortedBy('EmployeeId')">ID</th>
                <th scope="col" (click)="sortedBy('FirstName')">Nombre(s)</th>
                <th scope="col" (click)="sortedBy('LastName1')">Apellido Paterno</th>
                <th scope="col" (click)="sortedBy('LastName2')">Apellido Materno</th>
                <th scope="col" (click)="sortedBy('EmailAddress')">Email</th>
                <th scope="col" (click)="sortedBy('CellPhoneNumber')">Número Celular</th>
                <th scope="col" (click)="sortedBy('RFC')">RFC</th>
                <th scope="col" (click)="sortedBy('CURP')">CURP</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let e of employees | listfilter: search.value | sortBy:sortKey:sortAsc"
                [routerLink]="['/employeeEdit', companyId , e.EmployeeId]" routerLinkActive="active"
                class="pointer">
                <th scope="row">{{e.EmployeeId}}</th>
                <td>{{e.FirstName}}</td>
                <td>{{e.LastName1}}</td>
                <td>{{e.LastName2}}</td>
                <td>{{e.EmailAddress}}</td>
                <td>{{e.CellPhoneNumber}}</td>
                <td>{{e.RFC}}</td>
                <td>{{e.CURP}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" *ngIf="employees?.length <= 0">
        <h1 class="text-center">No se encontraron nuevos empleados.</h1>
        <br>
    </div>
</div>
<br><br><br><br>
