<app-employee-bar [companyId]="companyId"></app-employee-bar>
<br>
<div class="container" style="max-height: 100vh;" *ngIf="company">
    <div class="row justify-content-center">
        <div [hidden]="this.userService.getUser().UserType !== 3">
            <h1 class="text-center"> Buscar Empleados de {{company.CompanyName}} </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <mat-form-field style="width: 100%;">
                <mat-icon matSuffix>picture_in_picture</mat-icon>
                <input matInput placeholder=" RFC" [(ngModel)]="search.RFC"/>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field style="width: 100%;">
                <mat-icon matSuffix>picture_in_picture</mat-icon>
                <input matInput placeholder=" CURP" [(ngModel)]="search.CURP"/>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field style="width: 100%;">
                <mat-select placeholder="Status" [(value)]="search.Status">
                    <mat-option value=""> </mat-option>
                    <mat-option value="Nuevos">Nuevo</mat-option>
                    <mat-option value="No Registrados">No Registrados</mat-option>
                    <mat-option value="Registrados">Registrados</mat-option>
                    <mat-option value="Inactivos">Inactivos</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <button mat-raised-button color="primary" style=" width: 100%;" (click)="loadTable()" [disabled]="!isPromiseDone"
                    i18n="action | button which will send a notification to the employees to sign the selected receipt.">
                Aplicar Filtros
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <mat-form-field style="width: 100%;">
                <mat-icon matSuffix>contact_mail</mat-icon>
                <input matInput placeholder="Correo" [(ngModel)]="search.Email"/>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field style="width: 100%;">
                <mat-icon matSuffix>contact_phone</mat-icon>
                <input matInput placeholder="Teléfono" [(ngModel)]="search.Phone"/>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field style="width: 100%;">
                <mat-icon matSuffix>search</mat-icon>
                <input matInput #searchView placeholder="Buscar"/>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <button mat-raised-button color="primary" style=" width: 100%;" [disabled]="!isPromiseDone || !updateBtn" (click)="resetSelectedAccounts()"
                    i18n="action | button which will send a notification to the employees to sign the selected receipt.">
                Reiniciar Cuentas
            </button>
        </div>
    </div>
    <div class="table-responsive" ngClass="" *ngIf="isPromiseDone">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" (click)="sortedBy('EmployeeId')">ID</th>
                <th scope="col" (click)="sortedBy('FirstName')">Nombre(s)</th>
                <th scope="col" (click)="sortedBy('LastName1')">Apellido Paterno</th>
                <th scope="col" (click)="sortedBy('LastName2')">Apellido Materno</th>
                <th scope="col" (click)="sortedBy('EmailAddress')">Email</th>
                <th scope="col" (click)="sortedBy('CellPhoneNumber')">Número Celular</th>
                <th scope="col" (click)="sortedBy('RFC')">RFC</th>
                <th scope="col" (click)="sortedBy('CURP')">CURP</th>
                <th scope="col" (click)="sortedBy('StatusName')">Estatus</th>
                <th scope="col" class="centerText" >
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" (click)="selectAllDocuments()"
                            data-placement="top" title="Tooltip on top">
                        Seleccionar Todos
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let e of employees | listfilter: searchView.value | sortBy:sortKey:sortAsc"
                routerLinkActive="active"
                class="pointer">
                <th [routerLink]="['/employeeEdit', companyId , e.EmployeeId]" scope="row">{{e.EmployeeId}}</th>
                <td [routerLink]="['/employeeEdit', companyId , e.EmployeeId]">{{e.FirstName}}</td>
                <td [routerLink]="['/employeeEdit', companyId , e.EmployeeId]">{{e.LastName1}}</td>
                <td [routerLink]="['/employeeEdit', companyId , e.EmployeeId]">{{e.LastName2}}</td>
                <td [routerLink]="['/employeeEdit', companyId , e.EmployeeId]">{{e.EmailAddress}}</td>
                <td [routerLink]="['/employeeEdit', companyId , e.EmployeeId]">{{e.CellPhoneNumber}}</td>
                <td [routerLink]="['/employeeEdit', companyId , e.EmployeeId]">{{e.RFC}}</td>
                <td [routerLink]="['/employeeEdit', companyId , e.EmployeeId]">{{e.CURP}}</td>
                <td [routerLink]="['/employeeEdit', companyId , e.EmployeeId]">{{e.StatusName}}</td>
                <td class="centerText">
                    <mat-checkbox class="example-margin" [(ngModel)]="e.CheckedBox" color="primary"
                                  (change)="selectedCheckBox();"></mat-checkbox>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-md-center" *ngIf="!isPromiseDone">
        <mat-spinner></mat-spinner>
    </div>
</div>
<br><br><br><br>
