.circle-dot{
    border-radius: 50%;
    background-color: #2cbbc3;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    display: table;
    font-weight: bold;
}

.circle-dot > div {
    display: table-cell; vertical-align: middle;
}

input-file {
    width: 100% !important;
}

input-file button {
    width: 100% !important;
}

.icon-green {
    color: #2e7d32;
}

.icon-red {
    color: #e53935;
}

.main-viewer {
    top: 130px;
    bottom: 20px;
    width: 100%;
    overflow-y: auto;
    position: absolute;
}