<div class="main-viewer">
    <form>
        <br>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col">
                    <h2 class="text-center">Crear Nuevo Usuario</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput placeholder="Correo Electrónico" value="{{companyUser.EmailAddress}}"
                               [formControl]="form.controls['email']" type="email"
                               [(ngModel)]="companyUser.EmailAddress" name=companyUserEmail required>
                        <mat-error *ngIf="form.controls['email'].hasError('required')">
                            El Correo Electrónico es <strong>Requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="form.controls['email'].hasError('email')">
                            El Correo Electrónico debe ser una cuenta <strong>válida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre de Usuario" value="{{companyUser.DisplayName}}"
                               [formControl]="form.controls['username']"
                               [(ngModel)]="companyUser.DisplayName" name=companyUserDisplayName
                               required>
                        <mat-error *ngIf="form.controls['username'].hasError('required')">
                            El Nombre de Usuario es <strong>Requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Teléfono" value="{{companyUser.PhoneNumber}}"
                               [formControl]="form.controls['phone']"
                               [(ngModel)]="companyUser.PhoneNumber" name=companyUserPhoneNumber required>
                        <mat-error *ngIf="form.controls['phone'].hasError('required')">
                            El Teléfono es <strong>Requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <mat-select [(ngModel)]="selected"
                                    [formControl]="form.controls['type']"
                                    title="User Type" placeholder="Tipo de Usuario"
                                    name=companyUserType required>
                            <mat-option *ngFor="let type of usertype.codes" [value]="type.display">
                                {{ type.display }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls['type'].hasError('required')">
                            El Tipo de usuario es <strong>Requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-4">
                    <button mat-raised-button color="primary" style="width: 100%;" [disabled]="!form.valid"
                            (click)=saveNewCompanyUser()>Guardar</button>
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </form>
</div>