<md-spinner style="width:auto" *ngIf="!isPromiseDone"></md-spinner>
<div style="max-height: 100vh; overflow-y: auto" *ngIf="companies">
  <button md-button routerLink="/companyNew" class="leftFloat">
    <md-icon md-list-icon>add</md-icon>
    <md-icon md-list-icon>business</md-icon>
  </button>


  <h1 i18n="CompaniesHeader" class="centerText">Companies</h1>
  <div style="margin-top:10px;  line-height:1.25;" class="centerText">
    <md-icon style="vertical-align:middle">search</md-icon>
    <input #search placeholder="Search" (keyup)="0" class="inputSearchBox"/>
  </div>
  <md-list class="centeredList">

    <md-list-item *ngFor="let company of (companies | listfilter: search.value)" style="border-bottom: 1px solid grey; cursor: pointer"
      [routerLink]="['/companyEdit', company.CompanyId]" routerLinkActive="active">
      <md-icon md-list-icon>business</md-icon>
      <h4 md-line>{{company.CompanyName}}</h4>
      <p md-line> Date to go here </p>

    </md-list-item>
    
  </md-list>
  <br/>
  <br/>  <br/>  <br/>  <br/>
  <br/>  <br/>  <br/>  <br/>
  <br/>  <br/>  <br/>
</div>
<div class="centerText" *ngIf="!companies && isPromiseDone" i18n="message | message letting the user know there are no companies@@NoCompaniesMessage"> 
    There are no companies to view
</div>