<div style="max-height: 100vh; overflow-y: auto" *ngIf="companyUsers">
  <button md-button [routerLink]="['/companyuserNew', companyId]" class="leftFloat">
  <md-icon md-list-icon >add</md-icon><md-icon md-list-icon>account_circle</md-icon> 
</button>
<h1 i18n="header | header of the company users section@@CompanyUsersHeader" class="centerText">Company Users</h1>
<div style="margin-top:10px" class="centerText">
    <md-icon style="vertical-align:middle">search</md-icon>
    <input #search placeholder="Search" (keyup)="0" class="inputSearchBox " />
</div>

  <md-list class="centeredList">
    
    <md-list-item *ngFor="let user of (companyUsers | listfilter: search.value)" style="border-bottom: 1px solid grey; cursor: pointer" [routerLink]="['/companyuser', user.CompanyId ,user.UserId]"
      routerLinkActive="active">
      <md-icon md-list-icon><i class="material-icons">account_circle</i></md-icon>
      <h4 md-line>{{user.EmailAddress}}</h4>
      <p md-line> {{user.LastLogin | date}}</p>

    </md-list-item>
  </md-list>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>