<div>
  <div style="height: 70px; width: 100%;" *ngIf="user" [ngSwitch]="user.UserType">
    <div class="container" *ngSwitchCase="3">
      <div class="row">
        <div class="col-sm-12">
          <img style="max-height:70px; width: auto; padding: 8px;" src="../assets/images/Nomi_Sign-12-1-1.png"/>
        </div>
      </div>
    </div>
    <div class="container" *ngSwitchDefault>
      <div class="row" *ngIf="!logoImage">
        <div class="col-sm-12">
          <img style="max-height:70px; width: auto; padding: 8px;" src="../assets/images/Nomi_Sign-12-1-1.png"/>
        </div>
      </div>
      <div class="row" *ngIf="logoImage">
        <div class="col-sm-6">
          <img style="max-height:70px; width: auto; padding: 8px;"
               [src]="_sanitizer.bypassSecurityTrustUrl(logoImage)"/>
        </div>
        <div class="col-sm-6">
          <img style="max-height:70px; width: auto; padding: 8px; float: right;" src="../assets/images/logo-poweredbynomisign.png"/>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div *ngIf="user">
    <global-admin-navbar *ngIf="user.UserType === 3"></global-admin-navbar>
    <company-admin-navbar *ngIf="user.UserType === 2"></company-admin-navbar>
    <user-navbar *ngIf="user.UserType === 1"></user-navbar>
  </div>
  <router-outlet></router-outlet>
</div>