<div>
  <div class="mobileHeaderTitle centerText" *ngIf="user">
    <img style="max-height:60px; position:absolute;left:12%" src="../assets/images/Nomi_Sign-12-1-1.png" class="mobileHeaderLogo"/>
    <h1 style="line-height:50px" class="mobileHeaderText"> Admin Page</h1>
  </div>
  <div *ngIf="user">
    <global-admin-navbar *ngIf="user.UserType === 3"></global-admin-navbar>
    <company-admin-navbar *ngIf="user.UserType === 2"></company-admin-navbar>
    <user-navbar *ngIf="user.UserType === 1"></user-navbar>
  </div>
  <router-outlet></router-outlet>
</div>