<mat-spinner style="margin:0 auto;" *ngIf="!isPromiseDone"></mat-spinner>
<div style="max-height: 100vh; overflow-y: auto" class="centeredList">
    <br>
    <form class="example-form" *ngIf="company">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID Compañía" disabled value="{{company.CompanyId}}"
                   i18n-placeholder="input field | input field which displays the companies id@@CompanyIdInput">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Compañía" value="{{company.CompanyName}}" [(ngModel)]="company.CompanyName"
                   name="companyName"
                   i18n-placeholder="@@CompanyNameInput">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Dirección" value="{{company.Address1}}" [(ngModel)]="company.Address1"
                   name="companyAddress1" i18n-placeholder="@@CompanyAdressInput">
        </mat-form-field>
        <mat-form-field class="example-full-width" style="margin-top:-40px">
            <input matInput value="{{company.Address2}}" [(ngModel)]="company.Address2" name="companyAddress2"
                   i18n-placeholder="@@CompanyAdressInput">
        </mat-form-field>
        <br>
        <br>
        <mat-grid-list cols="2" rowHeight="2:1" class="example-full-width" style="margin-top:-40px;">
            <mat-grid-tile>
                <mat-form-field style="width: 48%;">
                    <input matInput placeholder="Ciudad" [(ngModel)]="company.City" name=companyCity
                           i18n-placeholder="input field | input field which contains the companys' city@@CompanyCityInput">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile style="width: 48%; display: inline-block;">
                <small id="emailHelp" class="form-text text-muted">Estado</small>
                <mat-select placeholder="Estado" [(ngModel)]="company.State" name=companyState
                            style="padding: 10px 15px 14px 15px;">
                    <mat-option *ngFor="let state of states.codes" [value]="state">
                        {{ state }}
                    </mat-option>
                </mat-select>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Código Postal" value="{{company.PostalCode}}" [(ngModel)]="company.PostalCode"
                   name="companyPostCode"
                   i18n-placeholder="@@CompanyPostalCode">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="RFC" value="{{company.CompanyRFC}}" [(ngModel)]="company.CompanyRFC"
                   name="companyRfc" i18n-placeholder="@@CompanyRFCInput">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Correo de Facturación" value="{{company.BillingEmailAddress}}"
                   [(ngModel)]="company.BillingEmailAddress" name="companyBillingEmailAddress" i18n-placeholder="@@CompanyRFCInput">
        </mat-form-field>
        <br>
        <br>
        <mat-grid-list cols="2" rowHeight="2:1" class="example-full-width" style="margin-top:-40px;">
            <mat-grid-tile>
                <mat-form-field style="width: 49%;">
                    <input matInput placeholder="Firmas Restantes" [(ngModel)]="company.SignatureBalance" name=companySignatures
                           i18n-placeholder="input field | input field which contains the companys' city@@CompanyCityInput" readonly>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile style="width: 49%; display: inline-block;">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="SMS Restantes" [(ngModel)]="company.SMSBalance" name=companySMS
                           i18n-placeholder="input field | input field which contains the companys' city@@CompanyCityInput" readonly>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="API Key" value="{{company.ApiKey}}" readonly
                   [(ngModel)]="company.ApiKey" name="companyApiKey" i18n-placeholder="@@CompanyRFCInput">
        </mat-form-field>

        <!--<br>
        <mat-checkbox class="example-margin" color="primary" [checked]="company.Emails"
                      (change)="company.Emails = !company.Emails">¿Enviar recibos firmados por correo?</mat-checkbox>-->
        <br>
        <br>
        <button mat-raised-button color="primary" (click)=showPurchaseDialog()>Historial de compras</button>
        <br>
        <br>

        <!--<mat-checkbox color="primary" class="mat-checkbox" matInput placeholder="Auto Add Agreement Document"
                      value="{{company.NewEmployeeGetDoc}}"
                      [(ngModel)]="company.NewEmployeeGetDoc" name=companyNewEmployeeGetDoc
                      i18n="form | field asking the if there should be a forced password reset@@CompanyUserPasswordReset">
            Cargar documento de intercambio de claves y contraseñas.
        </mat-checkbox>

        <table style="padding: 10px 25px 10px 25px">
            <tr>
                <td>
                    <input-file style="padding-bottom:15px" (onFileSelect)="onFileSelect($event)"
                                accept="application/pdf">
                        <span class="nofiles">Seleccionar archivo &nbsp;</span> &nbsp; &nbsp; &nbsp;
                        <span class="selected">Archivos Seleccionados</span>
                    </input-file>
                </td>
                <td>
                    <button [disabled]="!company.NewEmployeeGetDoc" mat-raised-button color="primary"
                            (click)=addCompanyDocument() i18n="@@UpdateButton"> Cargar Documento
                    </button>
                </td>
            </tr>
        </table>

        <mat-form-field class="example-full-width">
            <input disabled matInput placeholder="Cargar documento de intercambio de claves y contraseñas."
                   value="{{company.NewEmployeeDocument}}" [(ngModel)]="company.NewEmployeeDocument"
                   name="companyNewEmployeeDocument" i18n-placeholder="@@CompanyRFCInput">
        </mat-form-field> -->
        <br/>
        <br/>
        <h2>Cargar tus recibos de nóminas:</h2>
        <table class="table">
            <tr>
                <td>
                    <input-file style="padding-bottom:15px" (change)="onFileSelectDemo($event)"
                                accept="text/xml,application/pdf">
                        <span class="nofiles">Seleccionar archivo &nbsp;</span> &nbsp; &nbsp; &nbsp;
                        <span class="selected">Archivos Seleccionados</span>
                    </input-file>
                </td>
                <td>
                    <button mat-raised-button color="primary" *ngIf="countFiles == totalFiles && totalFiles > 0"
                            (click)="uploadDocuments()" i18n="@@UpdateButton" [disabled]="!showBtn">
                        Cargar documentos
                    </button>
                </td>
            </tr>
        </table>
        <mat-spinner [diameter]="35" [strokeWidth]="4" style="margin:0 auto;"
                     *ngIf="countFiles == totalFiles && totalFiles > 0 && !showBtn"></mat-spinner>
        <br>
        <table class="table table-style table-responsive">
            <tbody>
            <tr *ngFor="let fName of fileUpload">
                <td>{{fName.FileName + '.pdf'}}</td>
                <td>{{fName.FileName + '.xml'}}</td>
            </tr>
            </tbody>
        </table>

        <br/><br/>
    </form>
    <button mat-raised-button color="primary" routerLink="/companies" routerLinkActive="active" i18n="@@Back">Regresar
    </button>
    <button mat-raised-button color="primary" style="float: right;" (click)=updateCompany() i18n="@@UpdateButton">
        Guardar
    </button>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>


