
  
  .example-full-width {
    display:flow-root;
  }

  .mat-checkbox {
                padding:10px 25px 10px 25px;
            }

  /* ignore parent width */
  .mat-form-field{
        width:auto;
        padding:10px 25px 10px 25px;
  }

  .drop-zone {
    border: dotted 3px lightgray;
    padding: 25px;
    width: 15%;
    margin: 25px;
  }

  .file-over {
    border: dotted 3px green;
  }

  .fileNames {
    max-width:40px;
    text-overflow: ellipsis;
    overflow:hidden;
  }

  .uploadFileButton{
    margin-top: 18px;
    margin-left: 15px;
  }

  .agreementFieldMobile {
    width: 100% !important;
    margin-top: 15px;
  }

  .mobileUploadBtn {
    margin: 25px;
  }