
  
  .example-full-width {
    display:flow-root;
  }

  .mat-checkbox {
                padding:10px 25px 10px 25px;
            }

  /* ignore parent width */
  .mat-form-field{
        width:auto;
        padding:10px 25px 10px 25px;
  }