<div class="toolbar">
    <!-- mobile menu -->
    <span style="display:none" class="displayContentMobile">
        <button md-button [matMenuTriggerFor]="mobileMenu">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #mobileMenu="matMenu">
            <button mat-button i18n="@@GoCompaniesPageMenuHeader" [routerLink]="['/companyEdit', user.CompanyId]" routerLinkActive="active"> Compañía </button>
            <button mat-button i18n="@@GoCompanyUsersPageMenuHeader" [routerLink]="['/companyusers', user.CompanyId]" routerLinkActive="active"> Gestores de Nómina </button>
            <button mat-button i18n="@@GoEmployeesPageMenuHeader" [routerLink]="['/employeesList', user.CompanyId, 'newemployees']" routerLinkActive="active"> Empleados </button>
            <!--<button mat-menu-item [matMenuTriggerFor]="companyDocumentMenu" i18n="@@GoCompanyDocumentMenuHeader"> Documents </button>-->
        </mat-menu>
        <span style="float:right" *ngIf="user">
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>{{user.EmailAddress}}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span i18n="action | user will click this to log out of the website@@LogoutAction">Cerrar Sesión</span>
                </button>
            </mat-menu>
        </span>
    </span>
    <!--desktop menu -->
    <div style="margin-left:12%">
        <span class="hideContentMobile">
            <span>
                <button mat-button [routerLink]="['/companyEdit', user.CompanyId]" routerLinkActive="active">
                    <span i18n="menu header | User will click this to navigate to the companies page@@GoCompaniesPageMenuHeader">
                        Compañia
                    </span>
                </button>
            </span>

            <span>
                <button mat-button [routerLink]="['/companyusers', user.CompanyId]" routerLinkActive="active">
                    <span i18n="menu header | User will click this to go to the company user's page@@GoCompanyUsersPageMenuHeader">
                        Gestores de Nómina
                    </span>
                </button>
            </span>

            <span>
                <button mat-button [routerLink]="['/employeesList', user.CompanyId, 'newemployees']" routerLinkActive="active">
                    <span i18n="menu header | User will click this to go to the employees page@@GoEmployeesPageMenuHeader">
                        Empleados
                    </span>
                </button>
            </span>

            <span style="float:right; margin-right: 12%;" *ngIf="user">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person</mat-icon>{{user.EmailAddress}}
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span i18n="action | user will click this to log out of the website@@LogoutAction">Logout</span>
                    </button>
                </mat-menu>
            </span>
        </span>
    </div>
</div>