<div class="toolbar">
    <!-- mobile menu -->
    <span style="display:none" class="displayContentMobile">
        <button md-button [matMenuTriggerFor]="mobileMenu">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #mobileMenu="matMenu">
            <button mat-button i18n="@@GoCompaniesPageMenuHeader" [routerLink]="['/home', user.CompanyId]"
                    routerLinkActive="active"> Tablero </button>
            <button mat-button i18n="@@GoCompaniesPageMenuHeader" [routerLink]="['/companyEdit', user.CompanyId]"
                    routerLinkActive="active"> Compañía </button>
            <button mat-button i18n="@@GoCompanyUsersPageMenuHeader" [routerLink]="['/companyusers', user.CompanyId]"
                    routerLinkActive="active"> Administradores </button>
            <button mat-button i18n="@@GoEmployeesPageMenuHeader"
                    [routerLink]="['/employees/', user.CompanyId, 'new']" routerLinkActive="active"> Empleados </button>
            <button mat-button i18n="@@GoEmployeesPageMenuHeader"
                    [routerLink]="['/receipts/', user.CompanyId, 'rejected']" routerLinkActive="active"> Recibos </button>
        </mat-menu>
        <span style="float:right" *ngIf="user">
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>{{user.EmailAddress}}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/validator">
                    <mat-icon>verified_user</mat-icon>
                    <span i18n="action | user will click this to log out of the website@@LogoutAction">Validador NOM151</span>
                </button>
                <button mat-menu-item routerLink="/changePassword">
                    <mat-icon>loop</mat-icon>
                    <span i18n="action | user will click this to log out of the website@@LogoutAction">Cambiar Contraseña</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span i18n="action | user will click this to log out of the website@@LogoutAction">Cerrar Sesión</span>
                </button>
            </mat-menu>
        </span>
    </span>
    <!--desktop menu -->
    <div style="margin-left:12%">
        <span class="hideContentMobile">
            <span>
                <button mat-button [routerLink]="['/home', user.CompanyId]" routerLinkActive="active">
                    <span i18n="menu header | User will click this to navigate to the companies page@@GoCompaniesPageMenuHeader">
                        Tablero
                    </span>
                </button>
            </span>

            <span>
                <button mat-button [routerLink]="['/companyEdit', user.CompanyId]" routerLinkActive="active">
                    <span i18n="menu header | User will click this to navigate to the companies page@@GoCompaniesPageMenuHeader">
                        Compañía
                    </span>
                </button>
            </span>

            <span>
                <button mat-button [routerLink]="['/companyusers', user.CompanyId]" routerLinkActive="active">
                    <span i18n="menu header | User will click this to go to the company user's page@@GoCompanyUsersPageMenuHeader">
                        Administradores
                    </span>
                </button>
            </span>

            <span>
                <button mat-button [routerLink]="['/employees/', user.CompanyId, 'new']" routerLinkActive="active">
                    <span i18n="menu header | User will click this to go to the employees page@@GoEmployeesPageMenuHeader">
                        Empleados
                    </span>
                </button>
            </span>

            <span>
                <button mat-button [routerLink]="['/receipts/', user.CompanyId, 'rejected']" routerLinkActive="active">
                    <span i18n="menu header | User will click this to go to the employees page@@GoEmployeesPageMenuHeader">
                        Recibos
                    </span>
                </button>
            </span>

            <span style="float:right; margin-right: 12%;" *ngIf="user">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person</mat-icon>{{user.EmailAddress}}
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/validator">
                        <mat-icon>verified_user</mat-icon>
                        <span i18n="action | user will click this to log out of the website@@LogoutAction">Validador NOM151</span>
                    </button>
                    <button mat-menu-item routerLink="/changePassword">
                        <mat-icon>loop</mat-icon>
                        <span i18n="action | user will click this to log out of the website@@LogoutAction">Cambiar Contraseña</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span i18n="action | user will click this to log out of the website@@LogoutAction">Cerrar Sesión</span>
                    </button>
                </mat-menu>
            </span>
        </span>
    </div>
</div>