<div class="toolbar">
    <!-- mobile menu -->
    <span style="display:none" class="displayContentMobile">
        <button mat-button [matMenuTriggerFor]="mobileMenu">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #mobileMenu="matMenu">
            <button mat-menu-item routerLink="/dashboard" routerLinkActive="active" i18n="@@GoHomePageMenuHeader"> Inicio </button>
            <button mat-menu-item routerLink="/companies" routerLinkActive="active" i18n="@@GoCompaniesPageMenuHeader"> Compañías </button>
            <button mat-menu-item routerLink="/companyusers" routerLinkActive="active" i18n="@@GoCompanyUsersPageMenuHeader"> Administradores </button>
            <button mat-menu-item routerLink="/employees" routerLinkActive="active" i18n="@@GoEmployeesPageMenuHeader"> Empleados </button>
            <button mat-menu-item routerLink="/receipts" routerLinkActive="active" i18n="@@GoEmployeesPageMenuHeader"> Recibos </button>
            <button mat-menu-item routerLink="/globalSearch" routerLinkActive="active" i18n="@@GoEmployeesPageMenuHeader"> Buscar </button>
        </mat-menu>
        <span style="float:right" *ngIf="user">
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>{{user.EmailAddress}}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/validator">
                    <mat-icon>verified_user</mat-icon>
                    <span i18n="action | user will click this to log out of the website@@LogoutAction">Validador NOM151</span>
                </button>
                <button mat-menu-item routerLink="/changePassword">
                    <mat-icon>loop</mat-icon>
                    <span i18n="action | user will click this to log out of the website@@LogoutAction">Cambiar Contraseña</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span i18n="action | user will click this to log out of the website@@LogoutAction">Cerrar Sesión</span>
                </button>
            </mat-menu>
        </span>
    </span>
    <!-- desktop menu -->
    <div style="margin-left:12%">
        <span class="hideContentMobile">
            <span>
                <button mat-button routerLink="/dashboard" routerLinkActive="active">
                    <span i18n="menu header | User will click this to navigate to the home page@@GoHomePageMenuHeader">
                        Inicio
                    </span>
                </button>
            </span>

            <span>
                <button mat-button routerLink="/companies" routerLinkActive="active">
                    <span i18n="menu header | User will click this to navigate to the companies page@@GoCompaniesPageMenuHeader">
                        Compañías
                    </span>
                </button>
            </span>

            <span>
                <button mat-button routerLink="/companyusers" routerLinkActive="active">
                    <span i18n="menu header | User will click this to go to the company user's page@@GoCompanyUsersPageMenuHeader">
                        Administradores
                    </span>
                </button>
            </span>

            <span>
                <button mat-button routerLink="/employees" routerLinkActive="active">
                    <span i18n="menu header | User will click this to go to the employees page@@GoEmployeesPageMenuHeader">
                        Empleados
                    </span>
                </button>
            </span>

            <span>
                <button mat-button routerLink="/receipts" routerLinkActive="active">
                    <span i18n="menu header | User will click this to go to the employees page@@GoEmployeesPageMenuHeader">
                        Recibos
                    </span>
                </button>
            </span>

            <span>
                <button mat-button routerLink="/globalSearch" routerLinkActive="active">
                    <span i18n="menu header | User will click this to go to the employees page@@GoEmployeesPageMenuHeader">
                        Buscar
                    </span>
                </button>
            </span>

            <span style="float:right; margin-right: 12%;" *ngIf="user">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person</mat-icon>{{user.EmailAddress}}
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/validator">
                        <mat-icon>verified_user</mat-icon>
                        <span i18n="action | user will click this to log out of the website@@LogoutAction">Validador NOM151</span>
                    </button>
                    <button mat-menu-item routerLink="/changePassword">
                        <mat-icon>loop</mat-icon>
                        <span i18n="action | user will click this to log out of the website@@LogoutAction">Cambiar Contraseña</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span i18n="action | user will click this to log out of the website@@LogoutAction">Cerrar Sesión</span>
                    </button>
                </mat-menu>
            </span>
        </span>
    </div>
</div>
