<div style="overflow-y: auto; position:absolute;top:25%;width:100%" class="loginContainerMobile">
  <div style="width:60%; margin-left:35px; transform: translateY(200%)" class="loginTitleMobile centerText">
    <h1> Admin Page</h1>
    <img style="width:90%;" src="../../assets/images/Nomi_Sign-12-1-1.png" class="loginLogoMobile leftFloat"/>
  </div>
  <div>
    <mat-card style="margin-right:50px; width: 34%; text-align: center; float:right" class="loginFormMobile">
      <h1 class="centerText">
        <h2 i18n="header | header for where the user will enter their login credentials @@LoginFormHeader">Login</h2>
      </h1>

      <mat-card-content>
        <form name="loginForm" class="example-form">
          <div> 
          <span i18n="header | asking for the user's email@@PasswordLoginForm" style="display:inline-block; width:12%;text-align:left" class="loginFormFieldsMobile">Email &nbsp;</span>
          <mat-form-field class="example-full-width">
            <input type="text" matInput [formControl]="usernameFormControl" [(ngModel)]=userName>
            <mat-error *ngIf="usernameFormControl.hasError('required')" i18n="message | letting the user know that they need to enter their username@@UsernameRequiredMessage">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <span i18n="header | asking for the user's password@@PasswordLoginForm" style="display:inline-block; width:12%; text-align:left" class="loginFormFieldsMobile">Password &nbsp;</span>
          <mat-form-field class="example-full-width">
            <input type="password" matInput [formControl]="passwordFormControl" [(ngModel)]="password">
            <mat-error *ngIf="passwordFormControl.hasError('required')" i18n="message | letting the user know that they need to enter their password@@PasswordRequiredMessage">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        </form>
      </mat-card-content>
      <button mat-raised-button color="primary" style="width:85%" (click)=login() i18n="action | user will click this to login to thet website@@LoginButtonAction"> Login </button>
    </mat-card>
  </div>
</div>